@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-primary: #006191;
  --color-primary-fixed: #cbe6ff;
  --color-on-primary-fixed-variant: #004b71;
  --color-on-primary: #ffffff;
  --color-background: #f7f9fb;
  --color-on-background: #191c1e;
  --color-surface: #f7f9fb;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #3f4850;
  --color-outline: #6f7881;
  --color-outline-variant: #bec7d2;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;
  --color-vnpt-blue: #0094D9;
  --color-vnpt-dark: #005BAC;
  --color-vnpt-orange: #FF8A00;
}

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .text-gradient {
    background: linear-gradient(135deg, #0094D9 0%, #005BAC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

